.parentCart{
  display: flex;
  margin: 0px 50px;
  height: 30px;
  

}

.cartnavOne{
    width: 15%;
    
}
.cartnavTwo{
    width: 58%;
}

.cartnav{
    width: 9%;
    height: 100%;
    font-size:13px ;
    font-weight: 650;
    display: flex;
    align-items: center;
    justify-content: center;

    


}

@media screen and (max-width:950px) {
   .cartnav{
    font-size: 10px;
   }
    
}

@media screen and (max-width:700px) {
    
    .cartnav{
        font-size: 7px;
    }
}


@media screen and (max-width:500px)
{
    .parentCart{
        display: none;
    }
}






/* cartCart */

